# Functions & Loops

### Odd or Even,Function Statement,Calender,Biggervalue From Three Values,Function Call,For Loop,Tables

## Odd or Even

In [4]:
N=int(input())
if (N%2)==0:
    print(N,"is Even")
else:
    print(N,"is odd")

679
679 is odd

## Function Statement

In [7]:
a=int(input("enter 'a'value:"))
b=int(input("enter 'b'value:"))
if a==b:
    print("Both are equal")
elif a>b:
    print(a,"is bigger")
else:
    print(b,"is bigger")

enter 'a'value:234
enter 'b'value:1234
1234 is bigger

## Finding Bigger Value From Three Values

In [56]:
a=int(input())
b=int(input())
c=int(input())
if a==b==c:
    print("all are equal")
elif a>=b&a>=c:
    print(a,"is bigger")
elif b>=a&b>=c:
    print(b,"is bigger")
else:
    print(c,"is bigger")

45
54
65
65 is bigger

## calendar

In [36]:
import calendar
year= int(input("Enter year:"))
month= int(input("Enter month:"))
print(calendar.month(year,month))

Enter year:2019
Enter month:12
   December 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

## Loops

In [39]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
x=["R.Gopi","Krishna"]
for i in (x):
    print(i)

R.Gopi
Krishna

In [52]:
x=input()
y=["B.Tech","Mechanical"]
for i in x:
    c=i
    print(c)
    for j in y:
        c=j
        print(c)

r.gopi
r
B.Tech
Mechanical
.
B.Tech
Mechanical
g
B.Tech
Mechanical
o
B.Tech
Mechanical
p
B.Tech
Mechanical
i
B.Tech
Mechanical

## Function Calls

In [67]:
def add(x,y):
    c=x+y
    return c

In [68]:
a=int(input())
b=int(input())
add(a,b)

67
67

134

In [72]:
def module(x,y):
    c=x*y
    return c

In [73]:
a=int(input())
b=int(input())
module(a,b)

34
45

1530

In [66]:
def add(a,b):
    c=a+b
    return c
def mul(a,b):
    c=a*b
    return c
a=int(input("Enter A value"))
b=int(input("Enter B Value"))

print(add(a,b))
print(mul(a,b))

Enter A value1
Enter B Value2
3
2

In [79]:
def add(x,y):
    return x+y
def sub(x,y):
    return x-y
def mul(x,y):
    return x*y
def div(x,y):
    return x//y

In [83]:
a=int(input("Enter 'a' value:"))
b=int(input("Enter 'b' value:"))
print(add(a,b),sub(a,b),mul(a,b), div(a,b))

Enter 'a' value:45
Enter 'b' value:78
123 -33 3510 0

## Table

In [97]:
n=int(input("Enter Your Table:"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter Your Table:34
34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340

## Even Range

In [109]:
def even(i):
    if(i%2==0):
        print(i)
    else:
        return
n=int(input("enter upper:"))
for i in range(int(input("enter lower:")),n):
    even(i)

enter upper:45
enter lower:12
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44